<div class="world-container-background" ng-style="$ctrl.style">
  <div ng-show="$ctrl.accessToChange" class="world-tools">
    <div ng-click="$ctrl.showWorldPictureEditor()" class="world-tools__item">
      <span ng-show="$ctrl.accessToChange" class="glyphicon glyphicon-picture"></span>
    </div>
    <div ng-click="$ctrl.showWorldPictureEditor()" class="world-tools__item">
      <span ng-show="$ctrl.accessToChange" class="glyphicon glyphicon-pencil"></span>
    </div>
    <div ng-click="$ctrl.changeKey()" ng-show="$ctrl.world.is_private" class="world-tools__item">
      <span class="glyphicon glyphicon-lock"></span>
    </div>
  </div>
  <div class="container world-container">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div ng-show="!$ctrl.isCreated" class="col-md-6">
            <p>Название</p>
            <div class="input-group">
              <input type="text"
                class="form-control"
                ng-model="$ctrl.world.name"
                placeholder="Название">
              <span ng-click="$ctrl.createWorld()" class="input-group-addon pointer">Создать</span>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="$ctrl.world.is_private">Приватный</label>
            </div>
            <input ng-show="$ctrl.world.is_private" class="form-control" ng-model="$ctrl.key" placeholder="Ключ">
          </div>
          <div ng-show="$ctrl.isCreated" class="col-md-6">
            <h3>[[ $ctrl.world.name ]]</h3>
            <hr>
          </div>
        </div>

        <div ng-show="$ctrl.isCreated">
          <p ng-show="$ctrl.accessToChange" class="input-group short-input">
            <input type="text"
              class="form-control"
              ng-model="$ctrl.newCategory.name"
              placeholder="Новая категория">
            <span ng-click="$ctrl.addCategory($ctrl.newCategory)" class="input-group-addon pointer glyphicon glyphicon-plus">
            </span>
          </p>
          <category-item ng-animate="'category-list-animation'" ng-repeat="category in $ctrl.world.categories" root="category" world="$ctrl.world"></category-item>
        </div>
      </div>

      <div class="col-md-7">
        <ui-view></ui-view>
        <!-- <article-manager mode="$ctrl.articleActionMode" article="$ctrl.selectedArticle" category="$ctrl.selectedCategory" world="$ctrl.world"></article-manager> -->
      </div>
    </div>
  </div>
</div>
