<div class="container">
  <div class="row">
    <div class="col-md-6 scrollable">
      <div class="row">
        <div ng-show="!$ctrl.isCreated" class="col-md-6">
          <p>Название</p>
          <div class="input-group">
            <input type="text"
              class="form-control"
              ng-model="$ctrl.title"
              placeholder="Название">
            <span ng-click="$ctrl.createWorld()" class="input-group-addon pointer">Создать</span>
          </div>
        </div>
        <div ng-show="$ctrl.isCreated" class="col-md-6">
          <h3>[[ $ctrl.world.fields.name ]]</h3>
          <hr>
        </div>
      </div>

      <div ng-show="$ctrl.isCreated">
        <p ng-show="$ctrl.world.access_to_change" class="input-group short-input">
          <input type="text"
            class="form-control"
            ng-model="$ctrl.newCategory.name"
            placeholder="Новая категория">
          <span ng-click="$ctrl.addCategory($ctrl.newCategory)" class="input-group-addon pointer glyphicon glyphicon-plus"></span>
        </div>
        <category-item ng-repeat="category in $ctrl.world.categories" root="category" world="$ctrl.world"></category-item>
      </p>
    </div>

    <div class="col-md-6">
      <article-manager mode="$ctrl.articleActionMode" article="$ctrl.selectedArticle" category="$ctrl.selectedCategory" world="$ctrl.world"></article-manager>
    </div>
  </div>
</div>
