<form class="tw-login-form form-group" name="regForm">
  <label for="reg-username">Username</label>
  <input id="reg-username" class="form-control" ng-model="$ctrl.user.username" required>
  <label for="reg-email">Email</label>
  <input id="reg-email" class="form-control" type="email" ng-model="$ctrl.user.email" required>
  <label for="reg-pass">Password</label>
  <input id="reg-pass" class="form-control" type="password" ng-model="$ctrl.user.password" required>

  <label for="reg-role">Для чего создаете аккаунт?</label>
  <select id="reg-role" class="form-control" ng-model="$ctrl.user.role">
    <option value="">Комментировать и оставлять отзывы</option>
    <option value="is_constructor">Создать свой мир</option>
    <option value="is_author">Создать произведение</option>
  </select>

  <p class="error" ng-repeat="error in $ctrl.errors">[[ error ]]</p>
  <button class="btn btn-right btn-primary" ng-disabled="regForm.$invalid" ng-click="$ctrl.submit()">Создать аккаунт</button>
</form>
