body, html {
  overflow-x: hidden;
  font-size: 20px;
}

a {
  font-size: 0.8rem;
}

.pointer:hover {
  cursor: pointer;
}

.circle {
  border-radius: 40%;
}

.flex-container {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.font-sm {
  font-size: 0.7rem;
}

.short-input {
  width: 15rem;
}

.btn-margin {
  margin-top: 1rem;
}

.form-control {
  font-size: 1rem;
}

.clck-icon {
  color: #d0d0d0;
  padding: 0.1rem;
  border-radius: 5px;
}

.clck-icon:hover {
  color: white;
  cursor: pointer;
  background-color: #cccccc;
}

/* .tw-welcome */
.tw-welcome-div {
  margin: 1em;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.tw-welcome-div h3 {
  display: inline-block;
  margin: 0.2em 1em;
}



/* common */
.text-center {
  text-align: center;
}

.error {
  margin: 0;
  font-size: 0.8rem;
  color: red;
}
