body, html {
  overflow-x: hidden;
  font-size: 20px;
  height: 100%;
}

.form-control {
  background-color: inherit;
}

a {
  font-size: 0.8rem;
}

.navbar {
  margin: 0;
}

.main-content {
  margin-top: 2.5rem;
}

.pointer:hover {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.flex-container {
  display: flex;
}

.flex-container * {
  align-self: center;
}

.short-input {
  width: 15rem;
}

.top-margin {
  margin-top: 1rem;
}

.form-control {
  font-size: 1rem;
}

.clck-icon {
  color: #a2a2a2;
  padding: 0.1rem;
  border-radius: 5px;
}

.clck-icon:hover {
  color: white;
  cursor: pointer;
  background-color: #cccccc;
}

.scrollable {
  overflow-y: scroll;
  max-height: 45rem;
}

/* file upload */
.cloud-upload {
  background-color: #fff5dc;
  padding: 1rem;
  border-style: dashed;
  border-color: #cca84b;
  border-radius: 10px;
}


/* articles */
.world-container {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 47rem;
  position: relative;
}


/* Home */
.worlds-panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.worlds-panel__item {
  height: 12.5rem;
  margin: 0.5rem;
  box-shadow: 0 0 1rem grey;
  text-align: center;
}

.worlds-panel__item p {
  position: relative;
  top: -2rem;
  color: #def0ff;
  font-weight: bold;
}

.worlds-panel__item:hover {
  opacity: 0.7;
}


/* .tw-welcome */
.tw-welcome-div {
  margin: 1em;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.tw-welcome-div h3 {
  display: inline-block;
  margin: 0.2em 1em;
}


/* image tile */
.image-tile {
  display: flex;
  flex-wrap: wrap;
}

.image-tile__item {
  position: relative;
  margin: 1rem;
  box-shadow: 0 0 1rem 0.1rem gray;
  text-align: center;
  overflow: hidden;
  height: 15rem;
}

.inside-img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-tile__item--hoverable:hover img {
  opacity: 0.5;
  cursor: pointer;
}

.image-tile__item--hoverable:hover p {
  color: black;
  text-decoration: none;
}

.image-tile__item img {
  height: 15rem;
}

.image-tile__item p {
  position: relative;
  top: -2rem;
  color: #def0ff;
  font-weight: bold;
}


/* imgItem */

.img-item {
  margin: 1rem;
  opacity: 1;
}

.img-item:hover {
  opacity: 0.7;
}

.img-item:hover .img-item__text-container {
  visibility: visible;
}

.img-item__text-container {
  position: relative;
  top: -15rem;
  padding: 1rem;
  color: white;
  visibility: hidden;
}


/* image carousel */
.modal-container {
  min-height: 10rem;
  padding: 2rem;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-container img {
  overflow:auto;
}

.arrow-btn {
  width: 1.7rem;
  text-align: center;
  background-color: inherit;
  color: gray;
}

.arrow-btn:hover {
  box-shadow: 0 0 1rem 0.1rem gray;
}


.progress-bar {
  height: 0.5rem;
  background-color: #31708f;
}


.small-pictures img {
  height: 10rem;
}


/* world tools */

.world-tools {
  position: absolute;
  left: 0;
}


.world-tools__item {
  text-align: -webkit-right;
  padding: 0.2rem;
  background-color: rgba(249, 202, 98, 0.74);
  width: 1.4rem;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.world-tools__item:hover {
  width: 2rem;
}

/* common */
.text-center {
  text-align: center;
}

.error {
  margin: 0;
  font-size: 0.8rem;
  color: red;
}


/* animation */

/*.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}*/
