<div class="row">
  <div class="col-md-9">
    <div class="tw-welcome-div">
      <h3>Опиши свой Мир</h3>
      <button class="btn btn-primary" ng-click="$ctrl.begin()">Начать</button>
    </div>
    <div class="worlds-panel">
      <a class="worlds-panel__item" ng-repeat="world in $ctrl.worlds" ui-sref="construct({worldId: world.id})">
        <img ng-src="[[ world.picture ]]" height="250" alt="world">
        <p>[[ world.name ]]</p>
      </a>
    </div>
  </div>

  <div class="col-md-3">
    <div ng-show="$ctrl.isAuth">
      <p>Беседы</p>
      <p ng-repeat="chat in $ctrl.chats">
        <a href="chat/[[ chat.id ]]">[[ chat.name ]]</a>
        <span ng-show="!chat.is_public" class="glyphicon glyphicon-lock"></span>
      </p>
      <button class="btn btn-primary" ng-click="$ctrl.createChat()">Создать чат</button>
    </div>
  </div>
</div>
