<div class="row">
  <div class="col-md-9">
    <div class="tw-welcome-div">
      <h3>Опиши свой Мир</h3>
      <button class="btn btn-primary" ng-click="$ctrl.begin()">Начать</button>
    </div>
    <div class="worlds-panel">
      <a class="worlds-panel__item" ng-repeat="world in $ctrl.worlds" ui-sref="construct({worldId: world.id})">
        <img ng-src="[[ world.picture ]]" height="250" alt="world">
        <p>[[ world.name ]]</p>
      </a>
    </div>
  </div>

  <div class="col-md-3">
    Место для показа последних активностей пользователей
  </div>
</div>
