<div class="container">
  <div class="flex-container">
    <div>
      <h2>[[ $ctrl.user.username ]]</h2>
      <p class="text-muted">[[ $ctrl.user.email ]]</p>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.accountAction(newUserData)">Изменить</button>
  </div>

  <edit-account ng-show="$ctrl.isEditAccount" on-save="$ctrl.accountAction(newUserData)"></edit-account>

  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Проекты">
      <a ui-sref="newConstruct">Создать новый Мир</a>
      <div class="worlds-panel">
        <a class="worlds-panel__item" ng-repeat="world in $ctrl.user.worlds" ui-sref="construct({worldId: world.id})">
          <img ng-src="[[ world.picture ]]" height="250" alt="world">
          <p>[[ world.name ]]</p>
        </a>
      </div>
    </uib-tab>

    <uib-tab index="1" heading="Галерея">
      <div class="image-tile">
        <div ng-repeat="image in $ctrl.user.pictures">
          <img-item image="image"></img-item>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
  </uib-tabset>
</div>
