<!DOCTYPE html>
{% load static %}
<html ng-app="TWApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "src/css/forms.css" %}">
    <link rel="stylesheet" href="{% static "src/css/show.css" %}">
    <link rel="stylesheet" href="{% static "src/css/comments.css" %}">
    <title>TheWorld</title>
    <base href="/">
  </head>
  <body ng-controller="RootController as $ctrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="root">TW</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Разделы</a></li>
          <li><a href="#">Миры</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="$ctrl.getUser()"><a ui-sref="account"><span class="glyphicon glyphicon-user"> [[ $ctrl.user.username ]]</a></li>
          <li ng-show="!$ctrl.getUser()"><a href="#" ng-click="$ctrl.login()"><span class="glyphicon glyphicon-log-in"> Войти</a></li>
          <li ng-show="$ctrl.getUser()"><a href="#" ng-click="$ctrl.logout()"><span class="glyphicon glyphicon-log-out"> Выйти</a></li>
        </ul>
      </div>
    </nav>

    <div class="main-content">
      <ui-view></ui-view>
    </div>

    <script>
      var _userId = '{{ user_id }}';
      console.log(_userId);
      console.log('{{ user_id }}');
    </script>

    <script src="{% static "dist/app.bundle.js" %}"></script>

  </body>
</html>
