<!DOCTYPE html>
{% load static %}
<html ng-app="TWApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "src/css/forms.css" %}">
    <link rel="stylesheet" href="{% static "src/css/show.css" %}">
    <link rel="stylesheet" href="{% static "src/css/painter.css" %}">
    <title>TheWorld 123</title>
    <base href="/">
  </head>
  <body ng-controller="RootController as $ctrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">TW</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Разделы</a></li>
          <li class="active"><a href="#">Миры</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user">Вы</a></li>
        </ul>
      </div>
    </nav>

    <ui-view name="content"></ui-view>
    <ui-view name="information"></ui-view>

    <script src="{% static "dist/app.bundle.js" %}"></script>

  </body>
</html>
