<div>
  <form>
    <div class="form-group">
      <p>[[ $ctrl.location.fields.name ]]</p>
      <input class="form-control inline-block short-input" ng-model="$ctrl.article.fields.title" placeholder="Название">
      <hr>
      <textarea class="form-control" ng-model="$ctrl.article.fields.body"></textarea>
      <button class="btn btn-primary btn-margin" ng-click="$ctrl.articleAction()">Сохранить</button>
      <button class="btn btn-primary btn-margin" ng-click="$ctrl.deleteArticle()">Удалить</button>
    </div>
  </form>
</div>
