<div class="top-margin">
  <div ng-show="$ctrl.accessToChange">
    <form name="ArticleForm">
      <div class="form-group">
        <p><span class="text-muted">Категория:</span> [[ $ctrl.category.name ]]</p>
        <input class="form-control inline-block" ng-model="$ctrl.article.title" placeholder="Название" required>
        <hr>

        <div ng-show="!$ctrl.showParsedBody">
          <a href="#" class="lead" ng-click="$ctrl.addImage()"><span class="glyphicon glyphicon-picture"></span></a>
          <a href="#" class="lead" ng-click="$ctrl.addText()"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <textarea ng-if="!$ctrl.showParsedBody" class="form-control" ng-model="$ctrl.article.body" rows="20" required></textarea>

        <div ng-if="$ctrl.showParsedBody" ng-bind-html="$ctrl.article.parsedBody"></div>

        <button class="btn btn-primary top-margin" ng-click="$ctrl.articleAction()" ng-disable="ArticleFrom.$invalid">Сохранить</button>
        <button class="btn btn-primary top-margin" ng-show="!$ctrl.showParsedBody" ng-click="$ctrl.parseBody()">Показать страницу</button>
        <button class="btn btn-primary top-margin" ng-show="$ctrl.showParsedBody" ng-click="$ctrl.showHtmlCode()">Показать HTML код</button>
        <button class="btn btn-primary top-margin" ng-click="$ctrl.deleteArticle()">Удалить</button>

      </div>
    </form>
    <cloud-upload></cloud-upload>
    <h3>Добавить статью к категории</h3>
    <hr>
    <input class="form-control short-input" ng-model="$ctrl.articleAddToCategory" placeholder="Поиск">
    <div ng-repeat="article in $ctrl.allArticles | filter : $ctrl.articleAddToCategory">
      <a href="#" ng-click="$ctrl.addArticleToCategory(article)" title="Добавить статью к категории">[[ article.title ]]</a>
    </div>
  </div>

  <div ng-show="!$ctrl.accessToChange">
    <p><span class="text-muted">Категория:</span> [[ $ctrl.category.name ]]</p>
    <p>[[ $ctrl.article.title ]]</p>
    <hr>
    <div ng-bind-html="$ctrl.article.parsedBody"></div>
  </div>
</div>
