<div ng-if="!$ctrl.isDeleted">
  <p>[[ $ctrl.root.fields.name ]]
    <span ng-click="$ctrl.showChildren()" class="pointer glyphicon glyphicon-menu-down font-sm"></span>
    <span ng-click="$ctrl.showInput()" class="pointer glyphicon glyphicon-plus font-sm"></span>
    <span ng-click="$ctrl.deleteCategory()" class="pointer glyphicon glyphicon-remove font-sm"></span>
    <span ng-click="$ctrl.createArticle()" class="pointer glyphicon glyphicon-pencil font-sm"></span>
  </p>
  <div ng-show="$ctrl.isShowInput" class="input-group short-input">
    <input type="text"
      class="form-control"
      ng-model="$ctrl.newCategoryName"
      placeholder="Новая категория">
    <span ng-click="$ctrl.addCategory($ctrl.newCategory)" class="input-group-addon pointer glyphicon glyphicon-plus"></span>
  </div>
  <ul ng-show="$ctrl.isShowChildren">
    <li ng-repeat="child in $ctrl.children"><category-item root="child" world="$ctrl.world"></category-item></li>
  </ul>
</div>
