<div ng-if="!$ctrl.isDeleted">
  <p>[[ $ctrl.root.name ]]
    <span ng-click="$ctrl.showChildren()" class="clck-icon glyphicon glyphicon-menu-down font-sm"></span>
    <span ng-show="$ctrl.accessToChange" ng-click="$ctrl.showInput()" class="clck-icon glyphicon glyphicon-plus font-sm"></span>
    <span ng-show="$ctrl.accessToChange" ng-click="$ctrl.deleteCategory()" class="clck-icon glyphicon glyphicon-remove font-sm"></span>
    <span ng-show="$ctrl.accessToChange" ng-click="$ctrl.clickArticle()" class="clck-icon glyphicon glyphicon-pencil font-sm"></span>
  </p>
  <div ng-show="$ctrl.config.isShowInput" class="input-group short-input">
    <input type="text"
      class="form-control"
      ng-model="$ctrl.newCategoryName"
      placeholder="Новая категория">
    <span ng-click="$ctrl.addCategory($ctrl.newCategory)" class="input-group-addon pointer glyphicon glyphicon-plus"></span>
  </div>
  <ul ng-show="$ctrl.config.isShowChildren">
    <li ng-animate="'category-list-animation'" ng-repeat="child in $ctrl.children"><category-item root="child" world="$ctrl.world"></category-item></li>
    <li class="animate-repeat" ng-repeat="article in $ctrl.articles">
      <a href="#" ng-click="$ctrl.clickArticle(article)">
        <span class="glyphicon glyphicon-pencil font-sm"></span> [[ article.title ]]
      </a>
      <span ng-click="$ctrl.showArticleBody(article)" class="clck-icon glyphicon glyphicon-eye-open font-sm"></span>
      <div class="small small-pictures" ng-show="article.isShowBody" ng-bind-html="article.parsedBody"></div>
    </li>
  </ul>
</div>
